$hero-image: url("../img/hero.jpg");

.homepage {
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
    $hero-image;
  background-position: center;
  background-size: cover;
  height: 100vh;
  color: #fff;
  position: relative;

  &__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
  }

  &__title {
    font-size: clamp(2rem, calc(4vw + 1rem), 3rem);
    color: #e96333;
    transition: all 0.2s ease-in;

    &:hover {
      color: #fff;
      transform: scale(1.1);
    }
  }

  &__text {
    font-size: 1.1rem;
  }
}
